@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: #626262;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #313030 !important;
    scroll-behavior: smooth;

}
/* header */
.navi{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    padding-inline: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 0px 15px rgba(201, 201, 201, 0.44);
    z-index: 1000;
}

.logo img{
    width: 130px;
}
.main-menu{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.main-menu > li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 5px;
    color: #7B9AC0;
    position: relative;
}
.main-menu > li  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3158A6;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.main-menu > li a:hover::after{
    color: #3158A6;
    transform: scaleX(1);
    transform-origin: bottom left;
}
.main-menu > li a:hover{
    color: #3158A6;
}

.main-menu > a input{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 1.4px;
    color: #fff;
    background: rgb(49,88,166);
    background: linear-gradient(90deg, rgba(49,88,166,1) 0%, rgba(86,121,179,1) 100%);
    width: 140px;
    height: 40px;
    transition: 0.5s;
}
.main-menu > a input:hover{
    box-shadow: 0px 0px 10px 0px rgba(168, 168, 168, 0.746);
    background: linear-gradient(90deg, rgb(23, 72, 170) 0%, rgb(61, 108, 184) 100%);
    
}
.main-menu li a.active{
    color: #3158A6;
    font-weight: 600;
}



/* end header */

.main-menu .icon > i{
    display: none;
}

@media(min-width:901px){
    .fa-navicon::before, .fa-reorder::before, .fa-bars::before {
        content: '';
    }
}

@media(max-width:900px){
    .cont-text1{
        display: block;
    }
    .navi{
        display: block;
        padding: 0;
    }
    .navi.responsive{
        height: 53%;
        background-color: #ffffff;
        z-index: 10000;
    }
    .main-menu{
        display: none;
    }
    .main-menu.responsive{
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 255%;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-inline: 20px;
    }
    .main-menu input{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    .main-menu li a{
        margin-bottom: 15px;
    }
    .main-menu .icon{
        z-index: 1000;
        display: block;
        width: 70px;
    }
    .icon i{
        font-size: 1.5rem;
        color: #3158A6;
    }
}


.header {
    width: 100%;
    height: 500px;
    background: url("../images/img-services1.jpg") no-repeat;
    background-size: cover;
}
.header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #3158a6;
    margin: 0 auto;
    width: 40%;
    height: 500px;
}
.header h1 {
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 5%;
    font-size: 3rem;
    width: 40%;
    color: #fff;
}


@media (max-width: 900px) {
    .header::after {
        width: 100%;
        height: 500px;
    }
    .header h1 {
        left: 0;
        top: 250px;
        font-size: 3rem;
        width: 100%;
        padding-inline: 40px;
        text-align: center;
    }

}
@media (max-width: 500px) {
    .header {
        width: 100%;
        height: 400px;
    }
    .header::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
    }
    
    .header h1 {
        top: 200px;
        left: 0;
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        padding-inline: 40px;
    }

}

.service-cards{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 55px;
}
.first-4-service img , .second-4-service img , .tird-4-service img , .fourth-4-service img{
    width: 100%;
    margin-right: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.first-4-service , .second-4-service , .tird-4-service , .fourth-4-service{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}
.first-4-service div , .second-4-service div , .tird-4-service div , .fourth-4-service div{
    height: 250px;
    width: 95%;
    margin-right: 15px;
    border-radius: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-out;

}
.first-4-service h4, .second-4-service h4 , .tird-4-service h4 , .fourth-4-service h4{
    color: #313030;
    padding: 20px;
    text-align: center;
}
.first-4-service div:hover , .second-4-service div:hover , .tird-4-service div:hover , .fourth-4-service div:hover{
    transform: scale(1.1);
}
@media(max-width:750px){
    
.service-cards{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 55px;
}
.first-4-service img , .second-4-service img , .tird-4-service img , .fourth-4-service img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.first-4-service , .second-4-service , .tird-4-service , .fourth-4-service{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
.first-4-service div , .second-4-service div , .tird-4-service div , .fourth-4-service div{
    height: 250px;
    width: 100%;
    margin-right: 15px;
    border-radius: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-out;

}
.first-4-service h4, .second-4-service h4 , .tird-4-service h4 , .fourth-4-service h4{
    color: #313030;
    padding: 20px;
    text-align: center;
    z-index: 10000;
}
.first-4-service div:hover , .second-4-service div:hover , .tird-4-service div:hover , .fourth-4-service div:hover{
    transform: scale(1.1);
}
  
}
.info-about{
    width: 100%;
    height: 100%;
    padding-block: 40px;
    padding-inline: 55px;
    background-color: #f4f4f4;
}
.info-about-text h4{
    text-align: center;
    color: #3158A6;
}
.info-about-text h2{
    text-align: center;
    font-size: 3rem;
    color: #5679B3;
}
@media(max-width:900px){
    .info-about-text h2{
        text-align: center;
        font-size: 2rem;
        color: #5679B3;
    }
}
.info-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.info-cards div{
    background-color: #8ab0b3;
    padding: 20px;
    width: 30%;
    text-align: center;
    color: #313030;
}
.info-cards img{
    margin-bottom: 20px;
}
@media(max-width:900px){
    .info-cards{
        display: block;
        width: 100%;
        margin-top: 40px;
    }
    .info-cards div{
        background-color: #8ab0b3;
        width: 100%;
        margin-bottom: 20px;
    }
}
/* Footer Start  */
.footer-container {
    height: 100%;
    width: 100%;
    padding: 50px;
    padding-inline: 90px;
    color: #fff;
    background-color: #3e4545;
}
.footer-container > p , a {
    color: #a0bbcc;
}
.Atencion-Al-Cliente p {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.f-tittle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.f-tittle h4 {
    width: 30%;
    text-align: justify;
    font-size: 20px;
}
.f-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}
.f-info div {
    width: 30%;
}
.footer-cont-info {
    width: 100%;
}
.Firma ul a {
    display: block;
    width: 100%;
}
.Horarios p{
    color: #a0bbcc;
}
.copyright {
    color: #a0bbcc;
}
.column-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social {
    display: flex;
    margin-right: 10px;
}
.social li a > i {
    margin-right: 10px;
}
.footer-container  a:hover {
    color: #689dbe;
}
@media (max-width: 800px) {
    .f-tittle h4 {
        width: 100%;
        text-align: justify;
        font-size: 20px;
    }
    .f-info {
        display: block;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .f-info div {
        width: 100%;
        margin-top: 30px;
    }
    .footer-cont-info {
        width: 100%;
    }
    .Firma ul a {
        display: block;
        width: 100%;
    }

    .copyright {
        color: #a0bbcc;
    }
    .column-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social {
        display: flex;
        margin-right: 10px;
    }
    .social li a > i {
        margin-right: 10px;
    }
    .footer-container a:hover {
        color: #689dbe;
    }
}
/* Footer End */

#go-up {
    width: 50px;
    position: fixed;
    z-index: 10000;
    right: 15px;
    bottom: 5%;
    transition: all 300ms ease;
    transform: scale(0);
}

#go-up-cont {
    width: 100%;
    height: 100vh;
    position: absolute;
    cursor: pointer;
}